:root {
	--loading-color: #787878;
}
body {
	background: #e7e7e7;
	color: #fefefd;
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: space-around;
	margin: 40px 0 0 60px;
	padding: 0;
}

.photo-container {
	position: relative;
	flex-basis: calc(100% / 3);
	margin: 0;
	padding: 0;
}

.photo {
	aspect-ratio: 3/2;
	margin-bottom: 37px;
	box-shadow: 3px 3px #d1d3d2;
	flex-shrink: 0;
}

.overlay {
	background-color: #313131a4;
	position: absolute;
	top: 0;
	bottom: 40px;
	right: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.photo-size {
	width: calc(100% - 2.5rem);
	height: auto;
	border-radius: 5px;
}

.photo-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.photo-info-container :first-child {
	margin-top: 20%;
}

.photo-info-container :last-child {
	margin-top: 10%;
	margin-bottom: 5px;
}

.photo-title {
	font-weight: 600;
	margin-top: auto;
}

.photo-author {
	font-style: italic;
}

.photo-text {
	font-size: 22px;
	text-align: center;
}

.custom-line {
	border: none;
	height: 2px;
	width: 70px;
	background-color: #fefefd;
}

.btn {
	margin-bottom: 4rem;
	align-self: center;
	background: none;
	font-size: 22px;
	border: solid 0.5px #fefefd91;
	color: #fefefd;
	padding: 10px 20px;
	border-radius: 50px;
	cursor: pointer;
	font-weight: 100;
}

.clicked {
	background: #fefefd91;
}

.btn:hover {
	background-color: #fefefd3b;
}

.clicked:hover {
	background-color: #fefefdbd;
}

.photo-container:hover .overlay {
	background-color: #313131a4;
	opacity: 1;
}

.skeleton {
	animation: skeleton-loading 2s linear infinite alternate;
	border-radius: 5px;
	content-visibility: visible;
}

.error-text {
	color: #787878;
}

@keyframes skeleton-loading {
	0% {
		background: var(--loading-color);
	}
	100% {
		background: #e7e7e7;
	}
}

@media screen and (min-width: 1250px) and (max-width: 1800px) {
	.photo-text {
		font-size: 18px;
	}
	.btn {
		font-size: 18px;
	}
}

@media screen and (max-width: 1250px) {
	.photo-container {
		flex-basis: calc(100% / 2);
	}
	.photo-text {
		font-size: 20px;
	}
	.btn {
		font-size: 20px;
	}
}

@media screen and (min-width: 750px) and (max-width: 1250px) {
	.photo-text {
		font-size: 16px;
	}
	.btn {
		font-size: 16px;
	}
	.container {
		margin-left: 10px;
		margin-right: -20px;
	}
}

@media screen and (max-width: 750px) {
	.photo-container {
		flex-basis: 100%;
	}
	.photo-text {
		font-size: 18px;
	}
	.btn {
		font-size: 18px;
	}
}

@media screen and (max-width: 500px) {
	.photo-container {
		flex-basis: 100%;
	}
	.photo-text {
		font-size: 14px;
	}
	.btn {
		font-size: 14px;
	}
	.container {
		margin-left: 10px;
		margin-right: -30px;
	}
}

@media screen and (max-width: 300px) {
	.container {
		margin-left: 10px;
		margin-right: -30px;
	}
	.photo-info-container :last-child {
		margin-top: 3%;
	}
}
